<div *ngIf="aluno">

    <h2 class="titulo">Mais informações sobre: {{aluno.name | uppercase}} </h2>

    <div class="informacoes">
       
        <div>
            <label for="aluno-ra">RA: </label>
            <input id="aluno-ra" [(ngModel)]="aluno.ra" placeholder="Aluno ra"/>
        </div>

        <div>
            <label for="aluno-name">Nome: </label>
            <input id="aluno-name" [(ngModel)]="aluno.name" placeholder="Aluno name"/>
        </div>

        <div>
            <label for="aluno-idade">Idade: </label>
            <input id="aluno-idade" [(ngModel)]="aluno.idade" placeholder="Aluno idade"/>
        </div>

        <div>
            <label for="aluno-curso">Curso: </label>
            <input id="aluno-curso" [(ngModel)]="aluno.curso" placeholder="Aluno curso"/>
        </div>
        
        <div>
            <label for="aluno-semestre">Semestre: </label>
            <input id="aluno-semestre" [(ngModel)]="aluno.semestre" placeholder="Aluno semestre"/>
        </div>
    </div>

    <button (click)="goBack()">go back</button>
    
</div>
