<h2>ALUNOS: </h2>

<ul class="alunos">
    <li *ngFor="let aluno of alunos"
        [class.selected]="aluno === selectedAluno"
        (click)="onSelect(aluno)">
        <span class="badge">{{aluno.ra}}</span> {{aluno.name}}
    </li>
</ul>

<div *ngIf="selectedAluno">

    <h2 class="titulo">Mais informações sobre: {{selectedAluno.name | uppercase}} </h2>

    <div class="informacoes">
        <div>
            <span class="ra">Número Matrícula:  </span>{{selectedAluno.ra}}   
        </div>

        <div>
            <span class="name">Nome Aluno: </span>{{selectedAluno.name}}
        </div>

        <div>
            <span class="idade">Idade: </span>{{selectedAluno.idade}}
        </div>

        <div>
            <span class="curso">Curso: </span>{{selectedAluno.curso}}
        </div>
        
        <div>
            <span class="semestre">Semestre: </span>{{selectedAluno.semestre}}
        </div>
    </div>
    
    
    



</div>
